<div class="w3-container" >


    <div class="w3-row w3-card-2" style="padding: 10px;">
        <div class="w3-teal w3-padding-small" style="border-radius: 10px;">
            <h3>The definition of a {{article.title}}</h3>
        </div>
        <div class="w3-col m3 w3-card-2 l3  w3-margin-left w3-margin">
            <div class="w3-teal w3-padding w3-padding-small">
                <h3>Header</h3>
            </div>

            <div class="">
                <img class="w3-image" src="../../assets/images/cafe.png" alt="Car" >
                <div class="w3-light-grey w3-padding w3-padding-small">Nice Car</div>
            </div>
        </div>




        <div class="w3-col m6 l6 w3-center ">

            <p class="w3-margin w3-margin-bottom w3-padding w3-padding-16" style="padding: 10px;">
                {{article.article}}
            </p>
            <div>
                <button (click)="article.upvote()" class="w3-btn-floating w3-teal">upvote +</button>
                <button (click)="article.downvote()" class="w3-btn-floating ">downvote -</button>
                <div class="w3-center " >
                    <button class="w3-red w3-card-2 w3-hover-sepia" style="margin-top: 100px; height:100px; width:100px; border-radius: 50%;">{{article.votes}}</button>
                </div>
            </div>

        </div>


    </div>
</div>
