
<div class="w3-container">



<div class="parent w3-card-4 w3-light-grey">

  <div class="w3-container ">
    <h2>Reddon app</h2>
  </div>

  <form class="">

    <label>Title</label>
    <input class="w3-input w3-border" name="title" type="text" #newtitle>

    <label>Article</label>
    <input class="w3-input w3-ripple w3-border" name="link" type="text" #newlink>
  <button (click)="addArticle(newtitle, newlink)" class="w3-button w3-margin w3-blue w3-round w3-right">submit</button>
  </form>
  <div class="w3-container w3-clear">
    <p class="w3-light-grey ">Rapp by Phildam</p>
  </div>


</div>
    <div class="w3-container">
        <app-article
            *ngFor="let articleItem of sortedArticles()" [article]="articleItem"></app-article>
    </div>

</div>

